body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.button{ /* Click Here */
  background: coral;
  padding: 1em 2em;
  color: #eee;
}
  .button:hover{
    background: #333;
  }

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; 
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.5);
}
  .modal-content{
    background: #eee;
    margin: 20% auto;
    /* padding: 20px; */
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
                0 7px 20px 0 rgba(0,0,0,0.15);
    animation-name: modalopen;
    animation-duration: 1s;
  }
    @keyframes modalopen{
      from{opacity:0}
      to  {opacity:1}
    }

  .modal-header{
    background: coral;
    padding: 15px;
    color: #eee;
  }
  .modal-header h2,
  .modal-footer h3{
    margin: 0;
  }
  
  .modal-body{
    padding: 10px 20px;
  }

  .modal-footer{
    background: coral;
    padding: 10px;
    color: #eee;
    text-align: center;
  }
    
  .close-btn{ /* X */
    color: #eee;
    float: right;
    font-size: 30px;
    cursor: pointer;
    }
    .closeBtn:hover, 
    .closeBtn:focus{
      color: #111;
      text-decoration: none;
    }

